*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Geneva, Verdana, sans-serif; /* Default font for VSCode */
  font-size: 1rem;
  color: #d4d4d4; /* Light grey text color typical in VSCode */
  background-color: #111111;
}

#monacoEditor {
  display: flex;
  flex-direction: row;

  width: 100vw;
  height: 100vh;

  position: relative;
}

#explorer {
  /* height: 100vh; */
  /* display: flex;
  flex-direction: column; */
  width: 100%;
  height: 100%;
  padding: 2rem;
  padding-top: 1rem;
  background-color: #252526;
}

#explorer * {
  background-color: #252526;
}

div[data-react-beautiful-dnd-droppable="1"] {
  display: flex;
  flex-direction: column;
  justify-content: left;

  padding-top: 1rem;

  height: 95%;
  width: 100%;
}

/*  RIGHT */

#monacoEditor #right {
  display: flex;
  flex-direction: column;

  background-color: #111111;
}

#tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  background-color: #252526; /* VSCode tab background */
  overflow: hidden; /* Ensures no overflow content */
  width: 100%;
}

.tab-button {
  background-color: #252526; /* Same as tab for seamless integration */
  color: inherit; /* Inherits color from body */
  border: 0px;
  border-right: 1px solid #555555; /* No border for a flat appearance */
  padding: 1rem 16px; /* Padding inside the tab */
  outline: none; /* Remove focus outline */
  cursor: pointer; /* Cursor indicates it's clickable */
  transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.tab-button:hover,
.tab-button:focus {
  background-color: #37373d; /* Slightly lighter color on hover/focus */
}

.tab-button:active {
  background-color: #007acc; /* VSCode selection color when active */
}

#codeEditor {
  height: 100%;
  background-color: #111111;
}
